<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <script src="/static/js/edit.js"></script>
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Editing <i>{{ booking.name }}</i></span>
        </div>
        <form class="edit-form" method="POST">
            <div class="edit-panel">
                <div class="edit-panel-item {{ 'selected' if option === 'details' }}">
                    <a href="/Booking/{{ Booking.id }}/edit/details">Booking details</a>
                </div>
            </div>
            <div class="edit-content">
                {% include 'booking/edit/' + option + '.html' %}
            </div>
        </form>
    </div>
</body>

</html>