<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <script src="/static/js/list.js"></script>
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Title</span>
        </div>
        <form method="POST">
            <div class="table-filter-container table-filter-hotel-grid">
                <div class="table-filter table-filter-search">
                    <input type="text" list="accomodation_list" placeholder="Enter hotel name" data-path="/hotel"
                        data-id>
                    <datalist id="accomodation_list">
                    </datalist>
                    <button class="filter-button">Go</button>
                </div>
                <div class="table-filter-separator"></div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="status">
                        <option value="">Status</option>
                        <option value="1" {{
                                    'selected' if filters.status | int === 1 }}>Processed</option>
                        <option value="2" {{
                                    'selected' if filters.status | int === 2 }}>Confirmed</option>
                        <option value="3" {{
                                    'selected' if filters.status | int === 3 }}>Cancelled</option>
                    </select>
                </div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="provider">
                        <option value="">Provider</option>
                        <option value="1" {{
                                    'selected' if filters.provider | int === 1 }}>Travel Republic</option>
                        <option value="2" {{
                                    'selected' if filters.provider | int === 2 }}>Sun Hotels</option>
                    </select>
                </div>
                <div class="table-limit-options">
                    <div class="table-filter">
                        <select class="filter-selector" data-filter="limit">
                            <option {{
                                    'selected' if paginator.limit | int === 10 }}>10</option>
                            <option {{
                                    'selected' if paginator.limit | int === 20 }}>20</option>
                            <option {{
                                    'selected' if paginator.limit | int === 50 }}>50</option>
                            <option {{
                                    'selected' if paginator.limit | int === 100 }}>100</option>
                            <option {{
                                    'selected' if paginator.limit | int === 250 }}>250</option>
                        </select>
                    </div>
                    <div class="table-filter">
                        <button class="filter-button">Filter</button>
                    </div>
                </div>

            </div>
            <div class="table-container">
                <table class="table">
                    <tr class="table-header">
                        <th style="width: 5%">ID</th>
                        <th style="width: 15%">Contact name</th>
                        <th style="width: 20%">Hotel</th>
                        <th style="width: 15%">Check-in Date</th>
                        <th style="width: 15%">Check-out Date</th>
                        <th style="width: 10%">Booking Date</th>
                        <th style="width: 5%">Status</th>
                        <th style="width: 5%"></th>
                    </tr>
                    {% for booking in bookingList %}
                    <tr class="table-row">
                        <td><span>{{ booking.id }}</span></td>
                        <td><span>{{ booking.hotel_name }}</span></td>
                        <td><span>{{ booking.contact_name }}</span></td>
                        <td><span>{{ booking.checkin_date|dateSimpleTime }}</span></td>
                        <td><span>{{ booking.checkout_date|dateSimpleTime }}</span></td>
                        <td><span>{{ booking.booking_date|dateSimple }}</span></td>
                        <td><span>{{ booking.status }}</span></td>
                        <td class="center"><a href="/booking/{{ booking.id }}/edit/details"><i
                                    class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% include "components/paginator.html" %}
            <div class="submit-container">
                <input type="submit" class="submit-button" value="Confirm selection" />
            </div>
        </form>
    </div>
</body>

</html>