html,
body {
  height: 100%;
}

body.body-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.login-box {
  display: grid;
  grid-template-rows: 3rem 1.6rem 1.6rem 1.6rem;
  row-gap: 0.6rem;
  width: 16rem;
  padding: 2rem;
  border: #dddddd solid 2px;
  border-radius: 2px;
}

div.login-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

div.login-input-container {
  text-align: center;
  height: 100%;
}

input.login-input {
  height: 1.2rem;
  width: 12rem;
  padding-top: 0.2rem;
  border-radius: 2px;
}

input.login-button {
  padding: 0 !important;
  width: 12.6rem;
  padding-top: 0.2rem;
  border-radius: 2px;
}
