body {
    font-family: sans-serif;
    margin: 0;
    color: #222222;
}

.content {
    padding: 1rem;
    max-width: 960px;
    margin: auto;
    font-size: 0.8rem;
}

.navbar-container {
    font-size: 0.8rem;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    justify-content: start;
    width: 1000px;
}

.navbar .navbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 8rem;
    height: 2.6rem;
    background-color: #eeeeee;
    color: #222222;
    text-decoration: none;
}

.navbar .navbutton:hover {
    background-color: #dddddd;
}

.navbar .navbutton.selected {
    background-color: #12b2cc;
    color: #ffffff;
    font-weight: bold;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.title-container .title {
    font-size: 1.2rem;
}

.title-container input[type="button"],
.title-container input[type="submit"] {
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.title-container .title-right-container {
    display: flex;
    margin-top: -0.2rem;
}

.title-container .title-right-container * {
    margin-left: 0.2rem;
}

.title-right-container select {
    padding-right: 0.2rem;
}

.title-container.edit-title {
    margin-bottom: 0.4rem;
    border-bottom: 2px solid #eeeeee;
    padding: 0.6rem;
    margin: 1rem -3rem 1rem 0;
}

.title-container.edit-title:first-child {
    margin-top: 0;
}

.title-container.edit-title .title {
    font-size: 0.8rem;
}

.table-filter-container {
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 0.6rem;
}

.table-filter-hotel-grid {
    grid-template-columns: 3fr 1fr 1fr 2fr 1fr;
}

.table-filter-container .table-filter {
    font-size: 0.7rem;
    padding: 0.2rem;
    text-align: center;
    height: 1.6rem;
}

.table-filter-container .table-filter * {
    width: 100%;
}

.table-filter-container .table-filter.table-filter-search {
    display: inline-flex;
}

.table-filter-container .table-filter.table-filter-search * {
    height: auto;
}

.table-filter-container .table-filter.table-filter-search input {
    border-right-color: #eeeeee;
}

.table-filter-container .table-filter:first-child {
    padding-left: 0;
}

.table-filter-container .table-filter:last-child {
    padding-right: 0;
}

.table-filter-container .table-filter-separator {
    width: 100%;
}

.table-filter-container .table-limit-options {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
}

.table-filter-container .table-limit-options .table-filter:first-child {
    padding: 0.2rem;
}

.none {
    grid-template-columns: 1rem 1rem;
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    font-size: 0.7rem;
}

.table a i {
    font-size: 0.6rem;
    text-decoration: none;
    color: #222222;
}

.table th {
    background-color: #eeeeee;
}

.table th,
td {
    padding: 0.2rem 0.6rem;
    text-align: left;
    vertical-align: middle;
}

.table th,
td,
tr {
    height: 2rem;
    border: 1px solid #dddddd;
}

.table .table-row:hover {
    background-color: #dddddd;
}

.paginator-container {
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

.paginator-container .paginator-button {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    font-weight: bold;
    background-color: #eeeeee;
    color: #222222;
    border: none;
}

.paginator-container .paginator-button:disabled {
    background-color: #ffffff;
    color: #dddddd;
}

.paginator-container .paginator-button:active:hover {
    background-color: #dddddd;
}

.paginator-container .paginator-info {
    height: 1.8rem;
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

.submit-container {
    margin-top: 2rem;
    text-align: right;
    height: 2rem;
}

.none .submit-container * {
    margin-left: 0.6rem;
}

.submit-container .submit-button,
.table-filter-container .filter-button {
    min-width: 5rem;
    cursor: pointer;
    font-size: 0.7rem;
    height: 100%;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #12b2cc;
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.table-filter-container .filter-button {
    min-width: unset;
}

.submit-container .submit-button:hover,
.table-filter-container .filter-button:hover {
    background-color: #20c0d4;
    color: #ffffff;
}

.submit-button.delete-button {
    background-color: #eeeeee;
    color: #222222;
}

.submit-button.delete-button:hover,
.submit-button.delete-button.confirmed {
    background-color: #dd4444 !important;
    color: #ffffff;
}

.submit-button.delete-button.pending {
    background-color: #aaaaaa !important;
}

a.submit-button:link,
a.submit-button:visited {
    font-size: 0.7rem;
    text-decoration: none;
    display: inline-block;
}

a.submit-button:hover,
a.submit-button:active {
    background-color: red;
}

a.submit-button span.vertical-flex-center-container {
    height: 100%;
}

input:not([type="checkbox"]),
select,
textarea {
    padding-left: 0.4rem;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    height: 100%;
    font-size: 0.7rem;
}

textarea {
    padding-top: 0.28rem;
    font-family: sans-serif;
    resize: none;
}

input[type="text"],
input[type="number"] {
    height: unset;
}

.edit-form {
    display: grid;
    grid-template-columns: 12rem auto;
    column-gap: 4rem;
}

.edit-panel {
    user-select: none;
}

.edit-panel .edit-panel-item {
    font-size: 0.7rem;
    border-bottom: 2px solid #eeeeee;
    cursor: pointer;
    padding: 0.2rem;
}

.edit-panel .edit-panel-item:hover {
    border-bottom: 2px solid #dddddd;
    background-color: #dddddd;
}

.edit-panel .edit-panel-expand-container * {
    font-size: 0.6rem;
}

.edit-panel .edit-panel-expand-container .edit-panel-item-offset {
    font-style: italic;
    margin-left: 1rem;
}

.edit-panel .edit-panel-expand-container .edit-panel-expand-container .edit-panel-item-offset {
    font-style: italic;
    margin-left: 2rem;
}

.edit-panel .edit-panel-item.selected {
    font-weight: bold;
}

.edit-panel .edit-panel-expand-container {
    overflow: hidden;
}

.edit-label-link {
    color: #222222;
}

.edit-panel .edit-panel-item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #222222;
    padding-top: 0.1rem;
    padding-left: 0.4rem;
}

.edit-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 6rem;
    margin-bottom: 1rem;
}

.edit-container.one-row {
    grid-template-columns: minmax(0, 1fr);
}

@media (max-width: 925px) {
    .edit-form {
        grid-template-columns: 2fr 10fr;
        column-gap: 2rem;
    }
    .edit-container {
        grid-template-columns: auto;
    }
    .edit-content {
        margin-right: 4rem;
    }
    .edit-container .edit-parameter.edit-parameter-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.edit-container .edit-parameter {
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 6rem minmax(0, 1fr);
}

.edit-container .edit-parameter.edit-parameter-big-title {
    grid-template-columns: 2rem auto;
}

.edit-container .edit-parameter:not(:last-child) {
    margin-bottom: 0.8rem;
}

.edit-container .edit-parameter .contract-discount-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.edit-container .edit-parameter .contract-discount-container input:not(:first-child) {
    border-left: none;
}

.edit-container .edit-parameter.quota-value-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.edit-container .edit-parameter.quota-value-container .edit-label-container {
    border: #dddddd 1px solid;
    border-bottom: 0;
}

.edit-group {
    margin-bottom: 1rem;
}

.edit-group .table-container .table.cost-table {
    margin-left: 1rem;
}

.edit-group .table-container .table.cost-table th {
    background-color: unset;
}

.edit-group .table-container .table.cost-table tr {
    border: none;
}

.edit-group.edit-group-vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.edit-group.edit-group-vertical-align .edit-parameter {
    margin-bottom: 0;
}

.price-room-header-container {
    font-weight: bold;
}


.price-group-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.2rem 0 0.2rem;
}

.price-container span {
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
    user-select: none;
}

select.edit-input.list-select {
    width: 100%;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
}

select.edit-input.list-select option.list-option-header{
    font-weight: bold;
}

select.edit-input.list-select option.list-option-offset{
    margin-left: 1rem;
}

input.price-input {
    padding: 0;
    text-align: center;
    width: 2.4rem;
    padding-top: 0.08rem;
}

.table input.price-input {
    height: 1rem;
}

input.price-input:disabled,
input.edit-input:disabled {
    color: #888888;
}

.disabled {
    color: #aaaaaa !important;
}

.disabled.disabled-cascade * {
    color: #aaaaaa !important;
}

.regime-container,
.room-container {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.edit-group .table-container .table.cost-table .table-row:hover {
    background-color: unset;
}

.edit-group .table-container .table.cost-table th:first-child {
    visibility: hidden;
}

.edit-group .table-container .table.cost-table th:not(:first-child) {
    width: 14rem;
}



.edit-group .table-container .table.cost-table th,
.edit-group .table-container .table.cost-table tr td .edit-group .table-container .table.cost-table tr {
    height: 1.6rem;
    padding: 0rem;
    text-align: center;
}

.edit-container .edit-parameter.edit-parameter-list {
    display: block;
    padding-left: 0.4rem;
}

.edit-container .edit-parameter.edit-parameter-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.8rem;
    row-gap: 0.8rem;
}

.edit-container .edit-parameter.edit-parameter-no-grid {
    display: block;
}

.edit-grid-item-container {
    display: grid;
    grid-template-columns: auto 2rem;
}

.edit-container .edit-parameter .geolocation-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.edit-container .edit-parameter .room-quota-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 3fr);
}

.edit-container .edit-parameter .geolocation-container input:first-child {
    border-left: 0;
}

.edit-container .edit-parameter .room-quota-container input:first-child {
    border-left-width: 1px;
    border-left-color: #dddddd;
}

.edit-container .edit-parameter .multiple-range-container {
    display: flex;
    flex-direction: column;
}

.edit-container .edit-parameter .multiple-range-container .range-container:not(:last-child) input {
    border-bottom: none;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container {
    display: grid;
    grid-template-columns: 9fr 1fr;
    border: #dddddd 2px solid;
    border-bottom: none;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container .pax-range-input-container .range-container:first-child input {
    border-top: none;
    border-bottom: none;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container .pax-range-input-container .range-container:last-child input {
    border-bottom: none;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container .pax-range-input-container .range-container input:last-child {
    border-right: none;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container:nth-child(2) .pax-range-input-container {
    background-color: #ffffff;
}

.edit-container .edit-parameter .multiple-range-container .pax-range-container .pax-range-delete-button-container input {
    width: 100%;
    height: 100%;
    border: none;
    border-left: 2px #dddddd solid;
}

.edit-container .edit-parameter .multiple-range-container .multiple-range-button-container input {
    border-top: #dddddd 2px solid;
    width: 100%;
}

.edit-container .edit-parameter .range-container {
    height: 1.6rem;
    display: grid;
    grid-template-columns: 4rem minmax(0, 1fr) 2rem minmax(0, 1fr);
}

.edit-container .edit-parameter .range-container input {
    text-align: center;
}

.edit-container .edit-parameter .range-container .range-container-text {
    font-size: 0.6rem;
    text-align: center;
}

.edit-container .edit-parameter:not(.title-container) {
    margin-left: 1rem;
}

.edit-container .edit-parameter:not(.edit-parameter-grid):not(.edit-parameter-list):not(.edit-parameter-no-grid) {
    background-color: #eeeeee;
}

.edit-container .edit-parameter:not(.edit-parameter-grid):not(.edit-parameter-list):not(.edit-parameter-no-grid):hover {
    background-color: #dddddd;
}

.edit-container .edit-parameter.edit-parameter-prices {
    display: grid;
    grid-auto-columns: 1fr;
}

.edit-container .empty-edit-container {
    text-align: center;
}

.edit-container .empty-edit-container span {
    font-size: 0.7rem;
    font-style: italic;
}

.edit-parameter-room-regime {
    display: block;
    margin-bottom: 1rem;
}

.edit-container .edit-parameter-room-regime .edit-parameter {
    display: grid;
    grid-template-columns: 2rem auto;
    margin-bottom: 0;
    border: none;
    height: 1.6rem;
}

.edit-container .edit-parameter-room-regime .edit-parameter .room-base-radio,
.edit-container .edit-parameter-room-regime .edit-parameter .regime-base-radio,
.edit-container .edit-parameter-room-regime .edit-parameter .room-base-radio:before,
.edit-container .edit-parameter-room-regime .edit-parameter .regime-base-radio:before,
.edit-container .edit-parameter-room-regime .edit-parameter .room-base-radio:after,
.edit-container .edit-parameter-room-regime .edit-parameter .regime-base-radio:after {
  box-sizing: border-box;
  height: 10px !important;
  padding-left: 0 !important;
  margin: 0; 
}

.edit-container .edit-parameter-room-regime .edit-parameter:first-child .edit-checkbox-container{
    border-bottom: none;
}

.edit-container .edit-parameter-room-regime .edit-parameter:not(:first-child) input{
    border-left: none;
}

.edit-parameter-room-regime .edit-parameter.edit-parameter-room-regime-header .edit-checkbox-container {

}

.edit-parameter-room-regime .edit-parameter.room-regime-parameter-container .edit-checkbox-container{

}

.edit-parameter-room-regime .room-regime-parameter-container {
    height: 1.6rem;
}

.edit-grid-item-container .edit-label-container {
    background-color: #eeeeee;
}

.edit-grid-item-container:not(.regime-container-label):not(.room-container-label):hover .edit-label-container {
    background-color: #dddddd;
}

.regime-container .edit-grid-item-container.regime-parameter-container div,
.regime-container .edit-grid-item-container.regime-parameter-container:hover div,
.room-container .edit-grid-item-container.room-parameter-container div,
.room-container .edit-grid-item-container.room-parameter-container:hover div {
    background-color: unset;
    border: none;
}

.regime-container .edit-grid-item-container.regime-parameter-container,
.room-container .edit-grid-item-container.room-parameter-container {
    border: 1px solid #dddddd;
    border-top: none;
}

.regime-container .edit-grid-item-container:first-child div,
.room-container .edit-grid-item-container:first-child div {
    border-bottom: none;
}

.regime-container .edit-grid-item-container:not(:first-child),
.room-container .edit-grid-item-container:not(:first-child) {
    margin-left: 2rem;
}



.regime-container .edit-grid-item-container:not(:first-child) input,
.room-container .edit-grid-item-container:not(:first-child) input {
    border: none;
    padding: 0;
    text-align: center;
}

.edit-container .edit-parameter .edit-label-container {
    height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.edit-container .edit-parameter.edit-parameter-list .edit-label-container.list-link-container {
    height: 1.2rem;
    text-align: unset;
}

.edit-container .edit-parameter.edit-parameter-list .edit-label-container.list-link-container a {
    color: #222222;
}

.edit-container .edit-parameter .edit-checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding-left: 0.4rem;
}

.edit-container .edit-parameter input:not(input[type="button"]),
.edit-container .edit-parameter .edit-checkbox-container,
.edit-container .edit-parameter textarea {
    padding-left: 0.6rem;
}

.edit-container .edit-parameter input[type="button"] {
    line-height: 22px;
}

.edit-parameter.edit-parameter-grid .edit-grid-item-container .edit-checkbox-container {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.edit-parameter.edit-parameter-grid {
    margin-bottom: 1rem;
}

.vertical-flex-center-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.edit-container .edit-parameter:hover input,
.edit-container .edit-parameter:hover .edit-checkbox-container,
.edit-container .edit-parameter:hover textarea {
    border-color: #dddddd;
}

.edit-container .edit-parameter textarea {
    height: 4rem;
}

input[type="date"] {
    height: unset;
}

.center {
    text-align: center;
}

.fas.fa-check {
    color: #44dd44;
}

.fas.fa-times {
    color: #dd4444;
}

.expand-button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expand-icon {
    color: #aaaaaa;
    font-style: normal;
    margin-right: 0.8rem;
}

.plus-icon {
    color: #aaaaaa;
    margin-right: 0.4rem;
    font-style: normal;
}

input[type="checkbox"] {
    margin: 0;
}

.separator {
    width: 0.6rem;
}

.invisible {
    visibility: hidden;
}

input:not([type="radio"]):not([type="checkbox"]) {
    -webkit-appearance: none;
}