<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <script src="/static/js/edit.js"></script>
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Editing <i>{{ hotel.name }}</i></span>
        </div>
        <form class="edit-form" method="POST">
            <div class="edit-panel">
                <div class="edit-panel-item {{ 'selected' if option === 'details' }}">
                    <a href="/hotel/{{ hotel.id }}/edit/details">Hotel details</a>
                </div>
                <div class="edit-panel-item edit-panel-expand-button {{ 'selected' if option === 'room' }} {{ 'disabled disabled-cascade' if create }}"
                    data-group="room">
                    <a title="Click to expand"><span class="expand-button-content"><span>Rooms</span><span
                                class="expand-icon">+</span></span></a>
                </div>
                <div class="edit-panel-expand-container" data-group="room">
                    {% for room in hotel.room %}
                    <div
                        class="edit-panel-item edit-panel-item-offset {{ 'selected' if option === 'room' and optionId|int === room.id }}">
                        <a href="/hotel/{{ hotel.id }}/edit/room/{{ room.id }}"><span>{{ room.name }}</span></a>
                    </div>
                    {% endfor %}
                    <div
                        class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'room' and not optionId }}">
                        <a href="/hotel/{{ hotel.id }}/edit/room"><span><span class="plus-icon">+</span>add
                                room</span></a>
                    </div>
                </div>
                <div class="edit-panel-item edit-panel-expand-button {{ 'selected' if option === 'quota' }} {{ 'disabled disabled-cascade' if create }}"
                    data-group="quota">
                    <a title="Click to expand"><span class="expand-button-content"><span>Quota</span><span
                                class="expand-icon">+</span></span></a>
                </div>
                <div class="edit-panel-expand-container" data-group="quota">
                    {% for quota in hotel.quota %}
                    <div class="edit-panel-item edit-panel-item-offset edit-panel-expand-button {{ 'selected' if option === 'quota' and optionId|int === quota.id }} {{ 'disabled disabled-cascade' if create }}"
                        data-group="quota-{{quota.id}}">
                        <a title="Click to expand">
                            <span class="expand-button-content">
                                <span>{{ quota.name }}</span>
                                <div class="vertical-flex-center-container">
                                    <span class="expand-icon">+</span>
                                </div>
                            </span>
                        </a>
                    </div>

                    <div class="edit-panel-expand-container" data-group="quota-{{quota.id}}">
                        <div
                            class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'quota' and optionId|int === quota.id and not sub}}">
                            <a href="/hotel/{{ hotel.id }}/edit/quota/{{ quota.id }}"><span>General</span></a>
                        </div>
                        {% for range in hotel.quota_range %}
                        {% if range.rel_quota === quota.id %}
                        <div
                            class="edit-panel-item edit-panel-item-offset {{ 'selected' if option === 'quota' and optionId|int === quota.id and sub === 'range' and subId|int === range.id }}">
                            <a
                                href="/hotel/{{ hotel.id }}/edit/quota/{{ quota.id }}/range/{{ range.id }}"><span>{{ range.date_start|dateStringSimple }} - {{ range.date_end|dateStringSimple }}</span></a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div
                            class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'quota' and optionId|int === quota.id and sub === 'range' and not subId }}">
                            <a href="/hotel/{{ hotel.id }}/edit/quota/{{ quota.id }}/range/"><span><span
                                        class="plus-icon">+</span>add
                                    range</span></a>
                        </div>
                    </div>
                    {% endfor %}
                    <div
                        class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'quota' and not optionId }}">
                        <a href="/hotel/{{ hotel.id }}/edit/quota"><span><span class="plus-icon">+</span>add
                                quota</span></a>
                    </div>
                </div>
                <div class="edit-panel-item edit-panel-expand-button {{ 'selected' if option === 'contract' }} {{ 'disabled disabled-cascade' if create }}"
                    data-group="contract">
                    <a title="Click to expand"><span class="expand-button-content"><span>Contracts</span><span
                                class="expand-icon">+</span></span></a>
                </div>
                <div class="edit-panel-expand-container" data-group="contract">
                    {% for contract in hotel.contract %}
                    <div class="edit-panel-item edit-panel-item-offset edit-panel-expand-button {{ 'selected' if option === 'contract' and optionId|int === contract.id }} {{ 'disabled disabled-cascade' if create }}"
                        data-group="contract-{{contract.id}}">
                        <a title="Click to expand">
                            <span class="expand-button-content">
                                <span>{{ contract.name }}</span>
                                <div class="vertical-flex-center-container">
                                    <span class="expand-icon">+</span>
                                </div>
                            </span>
                        </a>
                    </div>

                    <div class="edit-panel-expand-container" data-group="contract-{{contract.id}}">
                        <div
                            class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'contract' and optionId|int === contract.id and not sub}}">
                            <a href="/hotel/{{ hotel.id }}/edit/contract/{{ contract.id }}"><span>General</span></a>
                        </div>
                        {% for range in hotel.contract_range %}
                        {% if range.rel_contract === contract.id %}
                        <div
                            class="edit-panel-item edit-panel-item-offset {{ 'selected' if option === 'contract' and optionId|int === contract.id and sub === 'range' and subId|int === range.id }}">
                            <a
                                href="/hotel/{{ hotel.id }}/edit/contract/{{ contract.id }}/range/{{ range.id }}"><span>{{ range.date_start|dateStringSimple }} - {{ range.date_end|dateStringSimple }}</span></a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div
                            class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'contract' and optionId|int === contract.id and sub === 'range' and not subId }}">
                            <a href="/hotel/{{ hotel.id }}/edit/contract/{{ contract.id }}/range/"><span><span
                                        class="plus-icon">+</span>add range</span></a>
                        </div>
                    </div>
                    {% endfor %}
                    <div
                        class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'contract' and not optionId }}">
                        <a href="/hotel/{{ hotel.id }}/edit/contract"><span><span class="plus-icon">+</span>add
                                contract</span></a>
                    </div>
                </div>
                <div class="edit-panel-item edit-panel-expand-button {{ 'selected' if option === 'sale' }} {{ 'disabled disabled-cascade' if create }}"
                    data-group="sale">
                    <a title="Click to expand"><span class="expand-button-content"><span>Sale</span><span
                                class="expand-icon">+</span></span></a>
                </div>
                <div class="edit-panel-expand-container" data-group="sale">
                    {% for sale in hotel.sale %}
                    <div class="edit-panel-item edit-panel-item-offset edit-panel-expand-button {{ 'selected' if option === 'sale' and optionId|int === sale.id }} {{ 'disabled disabled-cascade' if create }}"
                        data-group="sale-{{sale.id}}">
                        <a title="Click to expand">
                            <span class="expand-button-content">
                                <span>{{ sale.name }}</span>
                                <div class="vertical-flex-center-container">
                                    <span class="expand-icon">+</span>
                                </div>
                            </span>
                        </a>
                    </div>
                    <div class="edit-panel-expand-container" data-group="sale-{{sale.id}}">
                        <div
                            class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'sale' and optionId|int === sale.id and not sub}}">
                            <a href="/hotel/{{ hotel.id }}/edit/sale/{{ sale.id }}"><span>General</span></a>
                        </div>
                        {% for range in hotel.contract_range %}
                        {% if sale.rel_contract === range.rel_contract %}
                        <div
                            class="edit-panel-item edit-panel-item-offset {{ 'selected' if option === 'sale' and optionId|int === sale.id and sub === 'range' and subId|int === range.id }}">
                            <a
                                href="/hotel/{{ hotel.id }}/edit/sale/{{ sale.id }}/range/{{ range.id }}"><span>{{ range.date_start|dateStringSimple }} - {{ range.date_end|dateStringSimple }}</span></a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div
                        class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'sale' and not optionId }}">
                        <a href="/hotel/{{ hotel.id }}/edit/sale"><span><span class="plus-icon">+</span>add
                                sale</span></a>
                    </div>
                </div>
                <div class="edit-panel-item edit-panel-expand-button {{ 'selected' if option === 'offer' }} {{ 'disabled disabled-cascade' if create }}"
                    data-group="offer">
                    <a title="Click to expand"><span class="expand-button-content"><span>Offer</span><span
                                class="expand-icon">+</span></span></a>
                </div>
                <div class="edit-panel-expand-container" data-group="offer">
                    {% for offer in hotel.offer %}
                    <div
                        class="edit-panel-item edit-panel-item-offset {{ 'selected' if option === 'offer' and optionId|int === offer.id }}">
                        <a href="/hotel/{{ hotel.id }}/edit/offer/{{ offer.id }}"><span>{{ offer.name }}</span></a>
                    </div>
                    {% endfor %}
                    <div class="edit-panel-item edit-panel-item-offset  {{ 'selected' if option === 'offer' and not optionId }}">
                        <a href="/hotel/{{ hotel.id }}/edit/offer"><span><span class="plus-icon">+</span>add
                                offer</span></a>
                    </div>
                </div>
            </div>
            <div class="edit-content">
                {% include 'hotel/edit/' + option + '.html' %}
            </div>
        </form>
    </div>
</body>

</html>