<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <script src="/static/js/list.js"></script>
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Title</span>
        </div>
        <form method="POST">
            <div class="table-filter-container table-filter-hotel-grid">
                <div class="table-filter table-filter-search">
                    <input type="text" list="accomodation_list" placeholder="Enter hotel name" data-path="/hotel"
                        data-id>
                    <datalist id="accomodation_list">
                    </datalist>
                    <button class="filter-button">Go</button>
                </div>
                <div class="table-filter-separator"></div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="status">
                        <option value="">Status</option>
                        <option value="1" {{
                                    'selected' if filters.status | int === 1 }}>Processed</option>
                        <option value="2" {{
                                    'selected' if filters.status | int === 2 }}>Confirmed</option>
                        <option value="3" {{
                                    'selected' if filters.status | int === 3 }}>Cancelled</option>
                    </select>
                </div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="provider">
                        <option value="">Provider</option>
                        <option value="1" {{
                                    'selected' if filters.provider | int === 1 }}>Travel Republic</option>
                        <option value="2" {{
                                    'selected' if filters.provider | int === 2 }}>Sun Hotels</option>
                    </select>
                </div>
                <div class="table-limit-options">
                    <div class="table-filter">
                        <select class="filter-selector" data-filter="limit">
                            <option {{
                                    'selected' if paginator.limit | int === 10 }}>10</option>
                            <option {{
                                    'selected' if paginator.limit | int === 20 }}>20</option>
                            <option {{
                                    'selected' if paginator.limit | int === 50 }}>50</option>
                            <option {{
                                    'selected' if paginator.limit | int === 100 }}>100</option>
                            <option {{
                                    'selected' if paginator.limit | int === 250 }}>250</option>
                        </select>
                    </div>
                    <div class="table-filter">
                        <button class="filter-button">Filter</button>
                    </div>
                </div>

            </div>
            <div class="table-container">
                <table class="table">
                    <tr class="table-header">
                        <th style="width: 20%">Name</th>
                        <th style="width: 10%">Type</th>
                        <th style="width: 10%">Category</th>
                        <th style="width: 10%">City</th>
                        <th style="width: 10%">Region</th>
                        <th style="width: 10%">Country</th>
                        <th style="width: 10%">Postal Code</th>
                        <th style="width: 10%">Chain</th>
                        <th style="width: 5%">Active</th>
                        <th style="width: 5%"></th>
                    </tr>
                    {% for hotel in hotelList %}
                    <tr class="table-row">
                        <td><span>{{ hotel.name }}</span></td>
                        <td><span>{{ hotel.accomodation_type_name }}</span></td>
                        <td><span>{{ hotel.accomodation_category_name }}</span></td>
                        <td><span>{{ hotel.city_name }}</span></td>
                        <td><span>{{ hotel.region_name }}</span></td>
                        <td><span>{{ hotel.country_name }}</span></td>
                        <td><span>{{ hotel.postal_code }}</span></td>
                        <td><span>{{ hotel.chain_name }}</span></td>
                        <td class="center"><span>
                                {{ '<i class="fas fa-check"></i>' | safe if hotel.active else '<i class="fas fa-times"></i>' | safe }}
                            </span></td>
                        <td class="center"><a href="/hotel/{{ hotel.id }}/edit/details"><i
                                    class="fas fa-external-link-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% include "components/paginator.html" %}
            <div class="submit-container">
                <a href="/hotel/create" class="submit-button"><span class="vertical-flex-center-container">Create new hotel</span></a>
            </div>
        </form>
    </div>
</body>

</html>