<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <script src="/static/js/edit.js"></script>
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Editing master tables</i></span>
        </div>
        <form class="edit-form" method="POST">
            <div class="edit-panel">
                <div class="edit-panel-item {{ 'selected' if option === 'room' }}">
                    <a href="/master/room">Rooms</a>
                </div>
                <div class="edit-panel-item {{ 'selected' if option === 'regime' }}">
                    <a href="/master/regime">Regimes</a>
                </div>
                <div class="edit-panel-item {{ 'selected' if option === 'extra' }}">
                    <a href="/master/extra">Extras</a>
                </div>
                <div class="edit-panel-item {{ 'selected' if option === 'provider' }}">
                    <a href="/master/provider">Providers</a>
                </div>
                <div class="edit-panel-item {{ 'selected' if option === 'chain' }}">
                    <a href="/master/chain">Chain</a>
                </div>
                <div class="edit-panel-item {{ 'selected' if option === 'mapping' }}">
                    <a href="/master/mapping/webbeds/hotel">Mapping</a>
                </div>
            </div>
            <div class="edit-content">
                {% include 'master/edit/' + option + '.html' %}
            </div>
        </form>
    </div>
    <script src="/static/js/master.js"></script>
</body>

</html>
