<div class="edit-container">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Contract info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Name</span>
            </div>
            <input {{'disabled' if sub }} type="text" class="edit-input {{'disabled' if sub }}" name="name"
                value="{{ contract.name }}" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    <a title="Click to view contract settings" class="edit-label-link" href="#"
                        data-base-link="/hotel/{{ hotel.id }}/edit/quota" target="_blank">Quota</a>
                </span>
            </div>
            <select {{ 'disabled' if contract.id }} name="quota" class="edit-input" required>
                <option value="">
                    Select quota contract
                </option>
                {% for quota in hotel.quota %}
                <option value="{{ quota.id }}" {{ 'selected' if quota.id === contract.quota_id }}>
                    {{ quota.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Active</span>
            </div>
            <div class="edit-checkbox-container {{'disabled' if sub }}">
                <input {{'disabled' if sub }} name="active" type="checkbox" {{ 'checked' if contract.active }}>
                <input {{'disabled' if sub }} type="hidden" name="active" value="off" />
            </div>
        </div>
    </div>
    {% if not sub %}
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Associated sale contracts</span>
        </div>
        <div class="edit-parameter edit-parameter-list">
            {% for sale in contract.sale %}
            <div class="edit-label-container list-link-container">
                <div><span>- </span><a
                        href="/hotel/{{ hotel.id }}/edit/sale/{{ sale.id }}">{{ sale.name }}</a>{{ ' <i>(active)</i>'|safe if sale.active }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if sub === 'range' %}
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Contract range dates</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">From</span>
            </div>
            <input type="date" class="edit-input" name="start" {% for range in contract.contract_range %}
                {% if range.id === subId|int %} value="{{ range.date_start }}" {% endif %} {% endfor %}
                min="{{ contract.quota_date_start }}" max="{{ contract.quota_date_end }}" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">To</span>
            </div>
            <input type="date" class="edit-input" name="end" {% for range in contract.contract_range %}
                {% if range.id === subId|int %} value="{{ range.date_end }}" {% endif %} {% endfor %}
                min="{{ contract.quota_date_start }}" max="{{ contract.quota_date_end }}" required>
        </div>

        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    Release
                </span>
            </div>
            <select name="release" class="edit-input" required>
                <option value="">
                    Select release
                </option>
                {% for i in range(0, 10) %}
                {{ range.release }}
                <option value="{{ i }}" {% for range in contract.contract_range %}
                    {% if range.id === subId|int and i === range.release %} selected {% endif %} {% endfor %}>
                    {{ i }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    Minimum stay
                </span>
            </div>
            <select name="min_nights" class="edit-input" required>
                <option value="">
                    Select mininimum stay
                </option>
                {% for i in range(0, 10) %}
                {{ range.min_nights }}
                <option value="{{ i }}" {% for range in contract.contract_range %}
                    {% if range.id === subId|int and i === range.min_nights %} selected {% endif %} {% endfor %}>
                    {{ i }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
</div>
<div class="edit-container one-row">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Rooms</span>
            {% if contract.id %}
            <div class="title-right-container markup-container">
                <input type="button" class="room-modifier-button" value="apply to cost">
            </div>
            {% endif %}
        </div>
        <div class="edit-parameter edit-parameter-grid">
            {% for room in contract.room %}
            {% if contract.id and sub %}
            <div class="room-container">
                <div class="edit-grid-item-container">
                    <div class="edit-label-container">
                        <span class="edit-label">{{ room.name }}</span>
                    </div>
                    <div class="edit-checkbox-container">
                        <div class="vertical-flex-center-container">
                            <input disabled name="room[]" value="{{ room.id }}" type="checkbox"
                                {{ 'checked' if room.selected }}>
                        </div>
                    </div>
                </div>
                <div class="edit-grid-item-container room-parameter-container">
                    <div class="edit-label-container">
                        <span class="edit-label room-base-radio-label">Base room</span>
                    </div>
                    <div class="edit-checkbox-container">
                        <div class="vertical-flex-center-container">
                            <input class="room-base-radio" name="base_room" value="{{ room.id }}" type="radio">
                        </div>
                    </div>
                </div>
                <div class="edit-grid-item-container room-parameter-container">
                    <div class="edit-label-container">
                        <span class="edit-label room-modifier-input-label">Price increment</span>
                    </div>
                    <input type="number" class="edit-input room-modifier-input" data-room="{{ room.id }}"
                        name="base_room_modifier[room_id_{{room.id}}]" step="0.01" placeholder="0.00">
                </div>
            </div>
            {% else %}
            <div class="edit-grid-item-container">
                <div class="edit-label-container">
                    <span class="edit-label">{{ room.name }}</span>
                </div>
                <div class="edit-checkbox-container {{'disabled' if sub }}">
                    <div class="vertical-flex-center-container">
                        <input {{'disabled' if sub }} name="room[]" value="{{ room.id }}" type="checkbox"
                            {{ 'checked' if room.selected }}>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="edit-container one-row">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Regimes</span>
            {% if contract.id %}
            <div class="title-right-container markup-container">
                <input type="button" class="regime-modifier-button" value="apply to cost">
            </div>
            {% endif %}
        </div>
        {% if contract.id and sub%}
        <div class="edit-parameter edit-parameter-grid">
            {% for regime in contract.regime %}
            <div class="regime-container">
                <div class="edit-grid-item-container">
                    <div class="edit-label-container">
                        <span class="edit-label">{{ regime.name }}</span>
                    </div>
                    <div class="edit-checkbox-container">
                        <div class="vertical-flex-center-container">
                            <input name="regime[]" value="{{ regime.id }}" type="checkbox"
                                {% for range in contract.contract_range %}
                                {% if sub === 'range' and range.id === subId|int and regime.id in range.rel_regime %}
                                checked {% endif %} {% endfor %}>
                        </div>
                    </div>
                </div>
                <div class="edit-grid-item-container regime-parameter-container">
                    <div class="edit-label-container">
                        <span class="edit-label regime-base-radio-label">Base regime</span>
                    </div>
                    <div class="edit-checkbox-container">
                        <div class="vertical-flex-center-container">
                            <input class="regime-base-radio" name="base_regime" value="{{ regime.id }}" type="radio">
                        </div>
                    </div>
                </div>
                <div class="edit-grid-item-container regime-parameter-container">
                    <div class="edit-label-container">
                        <span class="edit-label regime-modifier-input-label">Price increment</span>
                    </div>
                    <input type="number" class="edit-input regime-modifier-input" data-regime="{{ regime.id }}"
                        name="base_regime_modifier[regime_id_{{regime.id}}]" step="0.01" placeholder="0.00">
                </div>
            </div>
            {% endfor %}
        </div>
        {% elif contract.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select contract date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base contract is saved</span>
        </div>
        {% endif %}
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Cost (€)</span>
        </div>
        {% if contract.id and sub %}
        <div class="table-container">
            <table class="table cost-table">
                <tr class="table-header">
                    <th></th>
                    {% for regime in contract.regime %}
                    <th><span class="price-regime-header {{'disabled' if not regime.selected}}"
                            data-regime="{{ regime.id }}">{{ regime.name }}</span></th>
                    {% endfor %}
                </tr>
                {% for room in contract.room %}
                <tr class="table-row">
                    <td>
                        <div class="price-room-header-container">
                            <span class="price-room-header {{'disabled' if not room.selected}}"
                                data-room="{{ room.id }}">{{ room.name }}
                            </span>
                        </div>
                    </td>
                    {% for regime in contract.regime %}
                    <td>
                        <div class="price-group-container">
                            <div class="price-container">
                                <span>Cost</span>
                                <input class="price-input" type="number"
                                    placeholder="{{'0.00' if regime.selected and room.selected}}" required step="0.01"
                                    min="0.0" {{ 'disabled' if not regime.selected or not room.selected }}
                                    name="contract_value[room_id_{{ room.id }}][regime_id_{{ regime.id }}][value]"
                                    data-room="{{ room.id }}" data-regime="{{ regime.id }}"
                                    {% for contract_value in contract.contract_value %}
                                    {% if contract_value.rel_regime === regime.id and contract_value.rel_room === room.id and contract_value.rel_contract_range === subId|int %}
                                    value="{{ contract_value.value }}" {% endif %} {% endfor %}>
                                <input type="hidden" {{ 'disabled' if not regime.selected or not room.selected }}
                                    name="contract_value[room_id_{{ room.id }}][regime_id_{{ regime.id }}][sale_value]"
                                    data-room="{{ room.id }}" data-regime="{{ regime.id }}"
                                    {% for contract_value in contract.contract_value %}
                                    {% if contract_value.rel_regime === regime.id and contract_value.rel_room === room.id and contract_value.rel_contract_range === subId|int %}
                                    value="{{ contract_value.sale_value }}" {% endif %} {% endfor %}>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% elif contract.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select contract date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base contract is saved</span>
        </div>
        {% endif %}
    </div>
</div>
<script src="/static/js/contract.js"></script>
<div class="submit-container">
    {% if contract.id %}
    {% if not sub and not subId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Contract"
        name="delete" />
    {% endif %}
    {% if sub and subId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Range"
        name="delete" />
    {% endif %}
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>