<div class="edit-container">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Contract info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Name</span>
            </div>
            <input {{'disabled' if sub }} type="text" class="edit-input {{'disabled' if sub }}" name="name"
                value="{{ quota.name }}" required {{'autofocus' if not sub }}>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Active</span>
            </div>
            <div class="edit-checkbox-container {{'disabled' if sub }}">
                <input {{'disabled' if sub }} name="active" type="checkbox" {{ 'checked' if quota.active }}>
                <input {{'disabled' if sub }} type="hidden" name="active" value="off" />
            </div>
        </div>
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Quota base dates</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">From</span>
            </div>
            <input type="date" class="edit-input" name="start" value="{{ quota.date_start }}" {{ 'disabled' if sub }}
                required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">To</span>
            </div>
            <input type="date" class="edit-input" name="end" value="{{ quota.date_end }}" {{ 'disabled' if sub }}
                required>
        </div>
    </div>

    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Quota range dates</span>
        </div>
        {% if quota.id and sub %}
        {% set found_range = null %}
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Priority</span>
            </div>
            <select name="priority" class="edit-input">
                <option value="">Disabled</option>
                {% for priority in range(1, 10) %}
                {% for range in hotel.quota_range %}
                {% if priority === range.priority %}
                {% set found_range = range %}
                {% else %}
                {% set found_range = null %}
                {% endif %}
                {% endfor %}
                <option value="{{ priority }}" {% if found_range %} {% if found_range.id === (subId | int) %} selected
                    {% else %} disabled {% endif %} {% endif %}>
                    {{ priority }}{% if found_range %}{% if found_range.id !== (subId | int) %} (taken by range
                    {{ found_range.date_start }} - {{ found_range.date_end }}){% endif %}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">From</span>
            </div>
            <input type="date" class="edit-input" name="start" {% for range in quota.quota_range %}
                {% if range.id === subId|int %} value="{{ range.date_start }}" {% endif %} {% endfor %}
                min="{{ quota.date_start }}" max="{{ quota.date_end }}" required {{'autofocus' if sub }}>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">To</span>
            </div>
            <input type="date" class="edit-input" name="end" {% for range in quota.quota_range %}
                {% if range.id === subId|int %} value="{{ range.date_end }}" {% endif %} {% endfor %}
                min="{{ quota.date_start }}" max="{{ quota.date_end }}" required>
        </div>
        {% elif quota.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select quota date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base quota is saved</span>
        </div>
        {% endif %}
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Quota</span>
        </div>
        {% if quota.id and sub %}
        {% for room in quota.room %}
        <div class="edit-parameter quota-value-container">
            <div class="edit-label-container">
                <span class="edit-label">{{ room.name }}</span>
            </div>
            <div class="room-quota-container">
                <input type="number" class="edit-input" name="quota_value[{{loop.index0}}][value]" placeholder="0"
                    {% for value in quota.quota_value %}
                    {% if value.rel_room === room.id and value.rel_quota_range === subId|int %}
                    value="{{ value.value }}" {% endif %} {% endfor %}>
                <select name="quota_value[{{loop.index0}}][quota_modifier]">
                    <option value="">Standard</option>
                    <option value="free_sale" {% for value in quota.quota_value %}
                        {% if value.rel_room === room.id and value.rel_quota_range === subId|int and value.free_sale %}
                        selected {% endif %} {% endfor %}>Free sale</option>
                    <option value="on_request" {% for value in quota.quota_value %}
                        {% if value.rel_room === room.id and value.rel_quota_range === subId|int and value.on_request %}
                        selected {% endif %} {% endfor %}>On request</option>
                </select>
                <select name="quota_value[{{loop.index0}}][hotel_id_shared_quota]">
                    <option value="">Direct quota</option>
                    {% for roomq in quota.room %}
                    {% if roomq.id !== room.id %}
                    <option value="{{ roomq.id }}" {% for value in quota.quota_value %}
                        {% if value.rel_room === room.id and value.rel_quota_range === subId|int and value.rel_room_shared_quota === roomq.id %}
                        selected {% endif %} {% endfor %}>{{ roomq.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <input type="hidden" name="quota_value[{{loop.index0}}][room_id]" required value="{{ room.id }}">
            </div>
        </div>
        {% endfor %}
        {% elif quota.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select quota date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base quota is saved</span>
        </div>
        {% endif %}
    </div>
</div>
<div class="submit-container">
    {% if quota.id %}
    {% if not sub and not subId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Quota" name="delete" />
    {% endif %}
    {% if sub and subId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Range" name="delete" />
    {% endif %}
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>
<script src="/static/js/quota.js"></script>