<div class="edit-container">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Basic info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Name</span>
            </div>
            <input type="text" class="edit-input" name="name" value="{{ room.name }}" autofocus>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Description</span>
            </div>
            <textarea name="description" cols="40" rows="4" class="edit-input">{{ room.description }}</textarea>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    <a title="Click to view room type settings" class="edit-label-link" href="#"
                        data-base-link="/master/room" target="_blank">Room type</a>
                </span>
            </div>
            <select name="room_type" class="edit-input" required>
                <option value="">Select base room type</option>
                {% for roomType in room.roomType %}
                <option value="{{ roomType.id }}" {{ 'selected' if roomType.selected }}>{{ roomType.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Kids as adult</span>
            </div>
            <div class="edit-checkbox-container">
                <input name="kids_as_adult" type="checkbox" {{ 'checked' if room.kids_as_adult }}>
                <input name="kids_as_adult" type="hidden" value="off" />
            </div>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Infants as adult</span>
            </div>
            <div class="edit-checkbox-container">
                <input name="infants_as_adult" type="checkbox" {{ 'checked' if room.infants_as_adult }}>
                <input name="infants_as_adult" type="hidden" value="off" />
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if room.id %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>