<div class="edit-container">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Basic info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Name</span>
            </div>
            <input {{'disabled' if sub }} type="text" class="edit-input" name="name" value="{{ sale.name }}" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    <a title="Click to view contract settings" class="edit-label-link" href="#"
                        data-base-link="/hotel/{{ hotel.id }}/edit/contract" target="_blank">Contract</a>
                </span>
            </div>
            <select {{ 'disabled' if sale.contract_id }} name="contract" class="edit-input" required>
                <option value="">
                    Select parent contract
                </option>
                {% for contract in hotel.contract %}
                <option value="{{ contract.id }}" {{ 'selected' if contract.id===sale.contract_id }}>
                    {{ contract.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Base Markup</span>
            </div>
            <input {{'disabled' if sub }} type="number" min="0" step=".01" class="edit-input" name="base_markup"
                value="{{ sale.base_markup }}" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Active</span>
            </div>
            <div class="edit-checkbox-container">
                <input {{'disabled' if sub }} name="active" type="checkbox" {{ 'checked' if sale.active }}>
                <input {{'disabled' if sub }} type="hidden" name="active" value="off" />
            </div>
        </div>
    </div>
    {% if sub === 'range' %}
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Contract settings</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">From</span>
            </div>
            <input disabled type="date" class="edit-input" name="start" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.date_start }}" {% endif %} {% endfor %} required>
            <input type="hidden" name="start" {% for range in sale.sale_range %} {% if range.id===subId|int %}
                value="{{ range.date_start }}" {% endif %} {% endfor %} required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">To</span>
            </div>
            <input disabled type="date" class="edit-input" name="end" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.date_end }}" {% endif %} {% endfor %} required>
            <input type="hidden" name="end" {% for range in sale.sale_range %} {% if range.id===subId|int %}
                value="{{ range.date_end }}" {% endif %} {% endfor %} required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    Release
                </span>
            </div>
            <input disabled class="disabled" type="number" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.release }}"
            {% endif %} {% endfor %}>
            <input type="hidden" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.release }}"
            {% endif %} {% endfor %}>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    Minimum stay
                </span>
            </div>
            <input disabled class="disabled" type="number" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.min_nights }}"
            {% endif %} {% endfor %}>
            <input type="hidden" {% for range in sale.sale_range %} {% if
                range.id===subId|int %} value="{{ range.min_nights }}"
            {% endif %} {% endfor %}>
        </div>
    </div>
    {% endif %}
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Regimes</span>
        </div>
        {% if sale.id and sub%}
        {% for regime in sale.regime %}
        <div class="edit-parameter edit-parameter-big-title">
            <div class="edit-checkbox-container disabled">
                <div class="vertical-flex-center-container">
                    <input disabled name="regime[]" value="{{ regime.id }}" type="checkbox" {{ 'checked' if
                        regime.selected }}>
                    <input type="hidden" {{ 'disabled' if not regime.selected }} name="regime[]"
                        value="{{ regime.id }}">
                </div>
            </div>
            <div class="edit-label-container">
                <span class="edit-label">{{ regime.name }}</span>
            </div>
        </div>
        {% endfor %}
        {% elif sale.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select contract date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base contract is saved</span>
        </div>
        {% endif %}
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Rooms</span>
        </div>
        {% for room in sale.room %}
        <div class="edit-parameter edit-parameter-big-title">
            <div class="edit-checkbox-container disabled">
                <div class="vertical-flex-center-container">
                    <input disabled name="room[]" value="{{ room.id }}" type="checkbox" {{ 'checked' if room.selected
                        }}>
                </div>
            </div>
            <div class="edit-label-container">
                <span class="edit-label">{{ room.name }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="edit-container one-row" >
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Cost (€)</span>
            {% if subId %}
            <div class="title-right-container markup-container">
                <input type="number" class="price-input markup-input" placeholder="0.00" step="0.01" max="99.99" min="0"
                    value="{{ sale.base_markup }}">
                <input class="markup-button" type="button" value="apply markup">
            </div>
            {% endif %}
        </div>
        {% if sale.id and sub %}
        <div class="table-container">
            <table class="table cost-table">
                <tr class="table-header">
                    <th></th>
                    {% for regime in sale.regime %}
                    <th><span class="price-regime-header {{'disabled' if not regime.selected}}"
                            data-regime="{{ regime.id }}">{{ regime.name }}</span></th>
                    {% endfor %}
                </tr>
                {% for room in sale.room %}
                <tr class="table-row">
                    <td>
                        <div class="price-room-header-container">
                            <span class="price-room-header {{'disabled' if not room.selected}}"
                                data-room="{{ room.id }}">{{ room.name }}
                            </span>
                        </div>
                    </td>
                    {% for regime in sale.regime %}
                    <td>
                        <div
                            class="price-group-container {{ 'disabled disabled-cascade' if not regime.selected or not room.selected }}">
                            <div class="price-container">
                                <span>Cost</span>
                                <input disabled class="price-input cost-sale-view" type="number"
                                    placeholder="{{'0.00' if regime.selected and room.selected}}" required step="0.01"
                                    min="0.0" data-room="{{ room.id }}" data-regime="{{ regime.id }}" {% for
                                    contract_value in sale.contract_value %} {% if contract_value.rel_regime===regime.id
                                    and contract_value.rel_room===room.id and
                                    contract_value.rel_contract_range===subId|int %} value="{{ contract_value.value }}"
                                    {% endif %} {% endfor %}>
                                <input type="hidden" {{ 'disabled' if not regime.selected or not room.selected }}
                                    name="contract_value[room_id_{{ room.id }}][regime_id_{{ regime.id }}][value]" {%
                                    for contract_value in sale.contract_value %} {% if
                                    contract_value.rel_regime===regime.id and contract_value.rel_room===room.id and
                                    contract_value.rel_contract_range===subId|int %} value="{{ contract_value.value }}"
                                    {% endif %} {% endfor %}>
                            </div>
                            <div class="price-container">
                                <span>Price</span>
                                <input class="price-input price-sale-view" type="number"
                                    placeholder="{{'0.00' if regime.selected and room.selected}}" required step="0.01"
                                    min="0.0" {{ 'disabled' if not regime.selected or not room.selected }}
                                    name="contract_value[room_id_{{ room.id }}][regime_id_{{ regime.id }}][sale_value]"
                                    data-room="{{ room.id }}" data-regime="{{ regime.id }}" {% for contract_value in
                                    sale.contract_value %} {% if contract_value.rel_regime===regime.id and
                                    contract_value.rel_room===room.id and contract_value.rel_contract_range===subId|int
                                    %} value="{{ contract_value.sale_value }}" {% endif %} {% endfor %}>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% elif sale.id and not sub and not subId %}
        <div class="empty-edit-container">
            <span>Select contract date range to edit</span>
        </div>
        {% else %}
        <div class="empty-edit-container">
            <span>This section will be editable after base contract is saved</span>
        </div>
        {% endif %}
    </div>
    {% if sale.id and sub and subId %}
    <input type="hidden" name="release" {% for range in sale.sale_range %} {% if range.id===subId|int %}
        value="{{ range.release }}" {% endif %} {% endfor %}>
    <input type="hidden" name="min_nights" {% for range in sale.sale_range %} {% if range.id===subId|int %}
        value="{{ range.min_nights }}" {% endif %} {% endfor %}>
    {% endif %}
</div>
<script src="/static/js/contract.js"></script>
<script src="/static/js/sale.js"></script>
<div class="submit-container">
    {% if sale.id %}
    {% if not sub and not subId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Sale"
        name="delete" />
    {% endif %}
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>