<meta charset="utf-8">
<title>Adramar</title>
<link rel="stylesheet" href="/static/css/main.css">
<link href="/static/css/all.min.css" rel="stylesheet">
<script src="/static/js/xhr.js"></script>
<script>
    const customCeil = value => {
        return Math.round((Math.ceil(value * 10.0) / 100.0) * 1000) / 100;
    }
</script>
<script>
    let onloadFunctionArray = [];
    window.onload = () => {
        onloadFunctionArray.forEach(func => {
            func();
        })
    }
</script>