<div class="navbar-container">
    <div class="navbar">
        <a class="navbutton {{ 'selected' if page === 'hotel' }}" href="/hotel">
            <span>Hotel</span>
        </a>
        <a class="navbutton {{ 'selected' if page === 'master' }}" href="/master">
            <span>Master</span>
        </a>
    </div>
</div>