<div class="paginator-container">
    {% if paginatorData %}
    <span class="paginator-info">{{ paginator.pageNum }} / {{ paginator.pageTotal }}</span>
    <button data-offset="-1" class="paginator-button" {{
            'disabled' if paginator.pageNum === 1 or paginator.pageNum === paginator.pageTotal}}>&lt;</button>
    <button data-offset="1" class="paginator-button" {{
            'disabled' if paginator.pageNum === paginator.pageTotal}}>&gt;</button>
    {% endif %}
</div>
