<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
</head>

<body>
    {% include "components/navbar.html" %}
    <div class="content">
        <div class="title-container">
            <span class="title">Title</span>
        </div>
        <form method="POST">
            <div class="table-filter-container">
                <div class="table-filter">
                    <select class="filter-selector" data-filter="date_type">
                        <option value="outbound" {{
                                    'selected' if filters.date_type === 'outbound' }}>Outbound</option>
                        <option value="inbound" {{
                                    'selected' if filters.date_type === 'inbound' }}>Inbound</option>
                    </select>
                </div>
                <div class="table-filter">
                    <input type="date" class="filter-selector" value="{{ filters.from }}" data-filter="from"
                        min="2018-01-01" max="2028-12-31">
                </div>
                <div class="table-filter">
                    <input type="date" class="filter-selector" value="{{ filters.to }}" data-filter="to"
                        min="2018-01-01" max="2028-12-31">
                </div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="status">
                        <option value="">Status</option>
                        <option value="1" {{
                                    'selected' if filters.status | int === 1 }}>Processed</option>
                        <option value="2" {{
                                    'selected' if filters.status | int === 2 }}>Confirmed</option>
                        <option value="3" {{
                                    'selected' if filters.status | int === 3 }}>Cancelled</option>
                    </select>
                </div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="provider">
                        <option value="">Provider</option>
                        <option value="1" {{
                                    'selected' if filters.provider | int === 1 }}>Travel Republic</option>
                        <option value="2" {{
                                    'selected' if filters.provider | int === 2 }}>Sun Hotels</option>
                    </select>
                </div>
                <div class="table-filter">
                    <select class="filter-selector" data-filter="vehicle">
                        <option value="">Vehicle</option>
                        <option value="1" {{
                                                    'selected' if filters.vehicle | int === 1 }}>Private</option>
                        <option value="2" {{
                                                    'selected' if filters.vehicle | int === 2 }}>Minibus</option>
                        <option value="3" {{
                                                    'selected' if filters.vehicle | int === 3 }}>Shuttle</option>
                        <option value="4" {{
                                                    'selected' if filters.vehicle | int === 4 }}>???</option>
                    </select>
                </div>
                <div class="table-filter-separator">
                </div>
                <div class="table-limit-options">
                    <div class="table-filter">
                        <select class="filter-selector" data-filter="limit">
                            <option {{
                                    'selected' if paginator.limit | int === 10 }}>10</option>
                            <option {{
                                    'selected' if paginator.limit | int === 20 }}>20</option>
                            <option {{
                                    'selected' if paginator.limit | int === 50 }}>50</option>
                            <option {{
                                    'selected' if paginator.limit | int === 100 }}>100</option>
                            <option {{
                                    'selected' if paginator.limit | int === 250 }}>250</option>
                        </select>
                    </div>
                    <div class="table-filter">
                        <button class="filter-button">Filter</button>
                    </div>
                </div>

            </div>
            <div class="table-container">
                <table class="table">
                    <tr class="table-header">
                        <th style="width: 10%">Reference</th>
                        <th style="width: 40%">Input</th>
                        <th style="width: 20%">Zone</th>
                        <th style="width: 20%">Hotel</th>
                        <th style="width: 5%"></th>
                        <th style="width: 5%"></th>
                    </tr>
                    <tr class="table-row">
                        <td><a href="#">test</a></td>
                        <td><span>span</span></td>
                        <td><span>span</span></td>
                        <td><span>span</span></td>
                        <td><span>span</span></td>
                        <td><span>span</span></td>
                    </tr>
                </table>
            </div>
            {% include "components/paginator.html" %}
            <div class="submit-container">
                <input type="submit" class="submit-button" value="Confirm selection" />
            </div>
        </form>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>