<!doctype html>

<html lang="en">

<head>
    {% include "components/baseHeaderContent.html" %}
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body class="body-center">
    <div class="content login-content">
        <form class="login-form" method="POST">
            <div class="login-box">
                <div class="login-logo-container">
                    <span>test</span>
                </div>
                <div class="login-input-container">
                    <input type="text" class="login-input" name="name" placeholder="username">
                </div>
                <div class="login-input-container">
                    <input type="text" class="login-input" name="name" placeholder="password">
                </div>
                <div class="login-input-container">
                    <input type="submit" class="login-button" value="login" />
                </div>
            </div>
        </form>
    </div>
</body>

</html>