<div class="edit-container">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Basic info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Name</span>
            </div>
            <input type="text" class="edit-input" name="name" value="{{ hotel.name }}">
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Description</span>
            </div>
            <textarea name="description" cols="40" rows="4" class="edit-input">{{ hotel.description }}</textarea>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Active</span>
            </div>
            <div class="edit-checkbox-container">
                <input name="active" type="checkbox" {{ 'checked' if hotel.active }}>
                <input type="hidden" name="active" value="off" />
            </div>
        </div>
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Location</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Country</span>
            </div>
            <select name="country" class="edit-input" required>
                <option value="">Select Contry</option>
                {% for country in hotel.country %}
                <option value="{{ country.id }}" {{ 'selected' if country.selected }}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Region</span>
            </div>
            <select name="region" class="edit-input" required>
                <option value="">Select Region</option>
                {% for region in hotel.region %}
                <option value="{{ region.id }}" {{ 'selected' if region.selected }}>{{ region.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">City</span>
            </div>
            <select name="city" class="edit-input" required>
                <option value="">Select City</option>
                {% for city in hotel.city %}
                <option value="{{ city.id }}" {{ 'selected' if city.selected }}>{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Address</span>
            </div>
            <input name="address" type="text" class="edit-input" value="{{ hotel.address }}" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Postal code</span>
            </div>
            <input name="postal_code" type="text" class="edit-input" value="{{ hotel.postal_code }}" maxlength="5" required>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Geolocation</span>
            </div>
            <div class="geolocation-container">
                <input name="geolocation[]" type="text" class="edit-input" value="{{ hotel.geolocation[0] or '' }}">
                <input name="geolocation[]" type="text" class="edit-input" value="{{ hotel.geolocation[1] or ''}}">
            </div>
        </div>
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Contact info</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Email</span>
            </div>
            <input name="email" type="text" class="edit-input" value="{{ hotel.email }}">
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">CC email</span>
            </div>
            <input name="email_cc" type="text" class="edit-input" value="{{ hotel.email_cc }}">
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Booking email</span>
            </div>
            <input name="email_booking" type="text" class="edit-input" value="{{ hotel.email_booking }}">
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Phone</span>
            </div>
            <input name="phone" type="text" class="edit-input" value="{{ hotel.phone }}">
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Fax</span>
            </div>
            <input name="fax" type="text" class="edit-input" value="{{ hotel.fax }}">
        </div>
    </div>
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Accomodation</span>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Type</span>
            </div>
            <select name="accomodation_type" class="edit-input" required>
                <option value="">Select Accomodation Type</option>
                {% for accomodationType in hotel.accomodationType %}
                <option value="{{ accomodationType.id }}" {{ 'selected' if accomodationType.selected }}>
                    {{ accomodationType.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">Category</span>
            </div>
            <select name="accomodation_category" class="edit-input" required>
                <option value="">Select Category</option>
                {% for accomodationCategory in hotel.accomodationCategory %}
                <option value="{{ accomodationCategory.id }}" {{ 'selected' if accomodationCategory.selected }}>
                    {{ accomodationCategory.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    <a title="Click to view chain settings" class="edit-label-link" href="#" data-base-link="/master/chain"
                        target="_blank">Chain</a>
                </span>
            </div>
            <select name="chain" class="edit-input" required>
                <option value="">Select Chain</option>
                {% for chain in hotel.chain %}
                <option value="{{ chain.id }}" {{ 'selected' if chain.selected }}>
                    {{ chain.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="edit-parameter">
            <div class="edit-label-container">
                <span class="edit-label">
                    <a title="Click to view provider settings" class="edit-label-link" href="#"
                        data-base-link="/master/provider" target="_blank">Provider</a>
                </span>
            </div>
            <select name="provider" class="edit-input" required>
                <option value="">Select Provider</option>
                {% for provider in hotel.provider %}
                <option value="{{ provider.id }}" {{ 'selected' if provider.selected }}>
                    {{ provider.fiscal_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="edit-container one-row">
    <div class="edit-group">
        <div class="title-container edit-title">
            <span class="title">Extras</span>
        </div>
        <div class="edit-parameter edit-parameter-grid">
            {% for extra in hotel.extras %}
            <div class="edit-grid-item-container">
                <div class="edit-label-container">
                    <span class="edit-label">{{ extra.name }}</span>
                </div>
                <div class="edit-checkbox-container">
                    <div class="vertical-flex-center-container">
                        <input name="extras[]" value="{{ extra.id }}" type="checkbox" {{ 'checked' if extra.selected }}>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="submit-container">
    <input type="submit" class="submit-button" value="Confirm" />
</div>