{% set chain = {} %}
{% for nChain in master %}
{% if nChain.selected %}
{% set chain = nChain %}
{% endif %}
{% endfor %}
<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select room</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/chain" name="chain" class="edit-input list-select"
                    size="{{( master | length ) + 2}}">
                    {% for nChain in master %}
                    <option value="{{ nChain.id }}" {{ 'selected' if nChain.id === chain.id }}>{{ nChain.name }}
                    </option>
                    {% endfor %}
                    <option value="" {{ 'selected' if not chain.id }}>+ add new chain</option>
                </select>
            </div>
        </div>
    </div>
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Basic info</span>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Name</span>
                </div>
                <input type="text" class="edit-input" name="name" value="{{ chain.name }}">
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Chain" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>