{% set extra = {} %}
{% for nExtra in master %}
{% if nExtra.selected %}
{% set extra = nExtra %}
{% endif %}
{% endfor %}
<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select extra</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/extra" name="room" class="edit-input list-select"
                    size="{{( master | length ) + 2}}">
                    {% for nExtra in master %}
                    <option value="{{ nExtra.id }}" {{ 'selected' if nExtra.id === extra.id }}>{{ nExtra.name }}</option>
                    {% endfor %}
                    <option value="" {{ 'selected' if not extra.id }}>+ add new extra</option>
                </select>
            </div>
        </div>
    </div>
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Basic info</span>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Name</span>
                </div>
                <input type="text" class="edit-input" name="name" value="{{ extra.name }}">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Description</span>
                </div>
                <textarea name="description" cols="40" rows="4" class="edit-input">{{ extra.description }}</textarea>
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Extra" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>