{% set hotel = {} %}
{% set room = {} %}
{% set listCount = 0 %}

{% for nHotel in master %}

{% set listCount = listCount + 1 %}
{% if nHotel.selected %}
{% set hotel = nHotel %}
{% endif %}

{% for nRoom in nHotel.room %}
{% set listCount = listCount + 1 %}
{% if nRoom.selected %}
{% set room = nRoom %}
{% endif %}
{% endfor %}

{% endfor %}

<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select hotel</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/mapping/webbeds" name="item" class="edit-input list-select"
                    size="{{ listCount + 1}}">
                    {% for nHotel in master %}
                    <option class="list-option-header" value="hotel/{{ nHotel.id }}" {{ 'selected' if not room.id and nHotel.id === hotel.id }}>{{ nHotel.name }}</option>
                        {% for nRoom in nHotel.room %}
                        <option class="list-option-offset" value="room/{{ nRoom.id }}" {{ 'selected' if nRoom.id === room.id }}>- {{ nRoom.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select hotel</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select name="{{ 'client_item[]' if room.id else 'client_item' }}" class="edit-input list-select no-base-link"
                    size="{{ 20 }}" {{ 'multiple' if room.id }}>
                    {% for nHotel in extra %}
                    <option {{ 'disabled' if room.id }} class="list-option-header" value="{{ nHotel.client_id }}" {{ 'selected' if not room.id and nHotel.selected }}>{{ nHotel.client_name }}</option>
                        {% for nRoom in nHotel.room %}
                        <option {{ 'disabled' if not room.id or hotel.client_id !== nHotel.client_id }} class="list-option-offset" value="{{ nRoom.client_id }}" {{ 'selected' if nRoom.selected }}>- {{ nRoom.client_name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Room Type" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>