{% set provider = {} %}
{% for nProvider in master %}
{% if nProvider.selected %}
{% set provider = nProvider %}
{% endif %}
{% endfor %}
<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select provider</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/provider" name="provider" class="edit-input list-select"
                    size="{{( master | length ) + 2}}">
                    {% for nProvider in master %}
                    <option value="{{ nProvider.id }}" {{ 'selected' if nProvider.id === provider.id }}>
                        {{ nProvider.fiscal_name }}</option>
                    {% endfor %}
                    <option value="" {{ 'selected' if not provider.id }}>+ add new provider</option>
                </select>
            </div>
        </div>
    </div>
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Basic info</span>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Fiscal Name</span>
                </div>
                <input type="text" class="edit-input" name="fiscal_name" value="{{ provider.fiscal_name }}" required maxlength="64">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Fiscal Code</span>
                </div>
                <input type="text" class="edit-input" name="fiscal_code" value="{{ provider.fiscal_code }}" required maxlength="32">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Contact Name</span>
                </div>
                <input type="text" class="edit-input" name="contact_name" value="{{ provider.contact_name }}" maxlength="256">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Phone</span>
                </div>
                <input type="text" class="edit-input" name="phone" value="{{ provider.phone }}" maxlength="128">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Fax</span>
                </div>
                <input type="text" class="edit-input" name="fax" value="{{ provider.fax }}" maxlength="128">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Accounting ID</span>
                </div>
                <input type="text" class="edit-input" name="accounting_id" value="{{ provider.accounting_id }}" required maxlength="32">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Address</span>
                </div>
                <input type="text" class="edit-input" name="address" value="{{ provider.address }}" required maxlength="512">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Country</span>
                </div>
                <select name="country" class="edit-input" required>
                    <option value="">Select Contry</option>
                    {% for country in extra.country %}
                    <option value="{{ country.id }}" {{ 'selected' if country.id === provider.country_id }}>{{ country.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Region</span>
                </div>
                <select name="region" class="edit-input" required>
                    <option value="">Select Region</option>
                    {% for region in extra.region %}
                    <option value="{{ region.id }}" {{ 'selected' if region.id === provider.region_id }}>{{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">City</span>
                </div>
                <select name="city" class="edit-input" required>
                    <option value="">Select City</option>
                    {% for city in extra.city %}
                    <option value="{{ city.id }}" {{ 'selected' if city.id === provider.city_id }}>{{ city.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Active</span>
                </div>
                <div class="edit-checkbox-container">
                    <input name="active" type="checkbox" {{ 'checked' if provider.active }}>
                    <input type="hidden" name="active" value="off" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Provider" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>