{% set regime = {} %}
{% for nRegime in master %}
{% if nRegime.selected %}
{% set regime = nRegime %}
{% endif %}
{% endfor %}
<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select room</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/regime" name="regime" class="edit-input list-select"
                    size="{{( master | length ) + 2}}">
                    {% for nRegime in master %}
                    <option value="{{ nRegime.id }}" {{ 'selected' if nRegime.id === regime.id }}>{{ nRegime.name }}</option>
                    {% endfor %}
                    <option value="" {{ 'selected' if not regime.id }}>+ add new regime type</option>
                </select>
            </div>
        </div>
    </div>
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Basic info</span>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Name</span>
                </div>
                <input type="text" class="edit-input" name="name" value="{{ regime.name }}">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Description</span>
                </div>
                <textarea name="description" cols="40" rows="4" class="edit-input">{{ regime.description }}</textarea>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Regime type</span>
                </div>
                <select name="regime_type" class="edit-input" required>
                    <option value="">Select regime type</option>
                    {% for regime_type in extra.regimeType %}
                        <option value="{{ regime_type.id }}" {{ 'selected' if regime_type.id === regime.regime_type_id }}>{{ regime_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Code</span>
                </div>
                <input type="text" class="edit-input" name="code" value="{{ regime.code }}">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">First service</span>
                </div>
                <select name="regime_service_first" class="edit-input" required>
                    <option value="">Select first service</option>
                    {% for regime_service in extra.regimeService %}
                    <option value="{{ regime_service.id }}" {{ 'selected' if regime_service.id === regime.regime_service_first_id }}>
                        {{ regime_service.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Last service</span>
                </div>
                <select name="regime_service_last" class="edit-input" required>
                    <option value="">Select last service</option>
                    {% for regime_service in extra.regimeService %}
                    <option value="{{ regime_service.id }}" {{ 'selected' if regime_service.id === regime.regime_service_last_id }}>
                        {{ regime_service.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Active</span>
                </div>
                <div class="edit-checkbox-container">
                    <input name="active" type="checkbox" {{ 'checked' if regime.active }}>
                    <input type="hidden" name="active" value="off" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Regime" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>