{% set room = {} %}
{% for nRoom in master %}
{% if nRoom.selected %}
{% set room = nRoom %}
{% endif %}
{% endfor %}
<div class="edit-container">
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Select room</span>
            </div>
            <div class="edit-parameter edit-parameter-no-grid">
                <select data-base-link="/master/room" name="room" class="edit-input list-select"
                    size="{{( master | length ) + 2}}">
                    {% for nRoom in master %}
                    <option value="{{ nRoom.id }}" {{ 'selected' if nRoom.id === room.id }}>{{ nRoom.name }}</option>
                    {% endfor %}
                    <option value="" {{ 'selected' if not room.id }}>+ add new room type</option>
                </select>
            </div>
        </div>
    </div>
    <div class="edit-container one-row">
        <div class="edit-group">
            <div class="title-container edit-title">
                <span class="title">Basic info</span>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Name</span>
                </div>
                <input type="text" class="edit-input" name="name" value="{{ room.name }}">
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Description</span>
                </div>
                <textarea name="description" cols="40" rows="4" class="edit-input">{{ room.description }}</textarea>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">PAX</span>
                </div>
                <div class="multiple-range-container">
                    {% for pax_range in room.pax_range %}
                    <div class="pax-range-container">
                        <div class="pax-range-input-container">
                            <div class="range-container">
                                <div class="vertical-flex-center-container"><span
                                        class="range-container-text">Adults</span>
                                </div>
                                <input data-range-index="{{loop.index0}}" placeholder="min" type="number" min="0"
                                    name="pax_range[{{loop.index0}}][adult][min]" type="text" class="edit-input"
                                    value="{{ pax_range.adult_min_pax }}" required>
                                <div class="vertical-flex-center-container"><span class="range-container-text">to</span>
                                </div>
                                <input data-range-index="{{loop.index0}}" placeholder="max" type="number" min="0"
                                    name="pax_range[{{loop.index0}}][adult][max]" type="text" class="edit-input"
                                    value="{{ pax_range.adult_max_pax }}" required>
                            </div>
                            <div class="range-container">
                                <div class="vertical-flex-center-container"><span
                                        class="range-container-text">Children</span></div>
                                <input data-range-index="{{loop.index0}}" placeholder="min" type="number" min="0"
                                    name="pax_range[{{loop.index0}}][children][min]" type="text" class="edit-input"
                                    value="{{ pax_range.children_min_pax }}" required>
                                <div class="vertical-flex-center-container"><span class="range-container-text">to</span>
                                </div>
                                <input data-range-index="{{loop.index0}}" placeholder="max" type="number" min="0"
                                    name="pax_range[{{loop.index0}}][children][max]" type="text" class="edit-input"
                                    value="{{ pax_range.children_max_pax }}" required>
                            </div>
                        </div>
                        <div class="pax-range-delete-button-container">
                            <input type="button" class="delete-pax-range" value="x"
                                {{ 'disabled' if loop.index0 === 0 and loop.length === 1 }}>
                        </div>
                    </div>
                    {% else %}
                    <div class="pax-range-container">
                        <div class="pax-range-input-container">
                            <div class="range-container">
                                <div class="vertical-flex-center-container"><span
                                        class="range-container-text">Adults</span>
                                </div>
                                <input placeholder="min" type="number" min="0" name="pax_range[0][adult][min]"
                                    type="text" class="edit-input" value="{{ pax_range.adult_min_pax }}" required>
                                <div class="vertical-flex-center-container"><span class="range-container-text">to</span>
                                </div>
                                <input placeholder="max" type="number" min="0" name="pax_range[0][adult][max]"
                                    type="text" class="edit-input" value="{{ pax_range.adult_max_pax }}" required>
                            </div>
                            <div class="range-container">
                                <div class="vertical-flex-center-container"><span
                                        class="range-container-text">Children</span></div>
                                <input placeholder="min" type="number" min="0" name="pax_range[0][children][min]"
                                    type="text" class="edit-input" value="{{ pax_range.children_min_pax }}" required>
                                <div class="vertical-flex-center-container"><span class="range-container-text">to</span>
                                </div>
                                <input placeholder="max" type="number" min="0" name="pax_range[0][children][max]"
                                    type="text" class="edit-input" value="{{ pax_range.children_max_pax }}" required>
                            </div>
                        </div>
                        <div class="pax-range-delete-button-container">
                            <input type="button" class="delete-pax-range" value="x" disabled>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="multiple-range-button-container">
                        <input type="button" class="add-pax-range" value="+ add new range">
                    </div>
                </div>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Min PAX</span>
                </div>
                <input type="number" class="edit-input" name="min_pax" value="{{ room.min_pax }}" min="0" required>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Max PAX</span>
                </div>
                <input type="number" class="edit-input" name="max_pax" value="{{ room.max_pax }}" min="0" required>
            </div>
            <div class="edit-parameter">
                <div class="edit-label-container">
                    <span class="edit-label">Active</span>
                </div>
                <div class="edit-checkbox-container">
                    <input name="active" type="checkbox" {{ 'checked' if room.active }}>
                    <input type="hidden" name="active" value="off" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    {% if option and optionId %}
    <input type="submit" class="submit-button delete-button" formnovalidate tabindex="" value="Delete Room Type" name="delete" />
    {% endif %}
    <input type="submit" class="submit-button" value="Confirm" />
</div>
<script src="/static/js/roomType.js"></script>